/* Gilroy font-face declarations */
@font-face {
    font-family: 'Gilroy';
    src: url('./font/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('./font/Gilroy-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('./font/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('./font/Gilroy-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('./font/Gilroy-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }
  
  /* Usage example */
  body {
    font-family: 'Gilroy', sans-serif;
  }

  #oxu-prefix {
    background: linear-gradient(83deg, #000DE3 52.84%, #000DE3 95.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }